<h1>Edit List</h1>

<!-- somente o dono da lista pode editá-lo -->
<% if current_user == @list.user %>
  <%= render 'form', list: @list %>
<% else %>
  <h2>Você não tem permissão de editar esta lista!</h2>
<% end %>

<br>

<%= link_to 'Back', lists_path %>