<div class="container">
  <h1>Nova Lista</h1>
  <p>Aqui você criará uma nova lista que irá conter suas tarefas. Para iniciar, dê um título para sua lista.</p>

  <br/>

  <%= render 'form', list: @list %>

  <br/>
  <%= render 'layouts/bottom' %>
  
</div>

