<%= form_with(model: [@list, @list.tasks.build], local: true) do |f| %>
  <p>
    <%= f.label "Adicionar uma tarefa: ", class: "adicionar_tarefa" %><br>
    <%= f.text_field :task_title, required: true, size: 50,  placeholder: "Máximo de 50 caracteres" %>
  </p>

  <p>
    <%= f.submit class: "btn btn-success btn-md" %>
  </p>
<% end %>