<div class="container">
  <footer class="footer">

    <small>
      Copyright &copy; <a href="https://github.com/Nak12/alpha-blog" target="_blank">Repositório Github</a> by <a href="https://www.linkedin.com/in/kaio-masaru-nakazono" target="_blank">Kaio Nakazono</a>
    </small>
  </footer>
</div>