<div class="container">
  <footer class="footer">

    <small>
      Copyright &copy; <a href="https://github.com/Nak12/list_todo_app" target="_blank">Repositório Github</a> by Kaio Nakazono</a>
    </small>
  </footer>
</div>